<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding a new post</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=K2D:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form class="form" method="post" action="/posts">
      <h1>Add New Post</h1>
      <input type="text" placeholder="Enter your name" name="username" />
      <textarea
        type="text"
        placeholder="Enter your name"
        name="vibe"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
